    <div class="row" th:fragment="nav(module)">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A9C8E7;">
                <div class="navbar-nav">
                    <a id="main" class="nav-item nav-link" th:href="@{/main}">首页</a>
                    <a id="book" class="nav-item nav-link" th:href="@{/book/list}">图书管理</a>
                    <a id="store" class="nav-item nav-link" th:href="@{/store/list}">图书入库</a>
                    <a id="sale" class="nav-item nav-link" th:href="@{/sale/list}">图书销售</a>
                </div>
            </nav>
        </div>
        <script>
            var module = '[[ ${module} ]]';
            $("#" + module).addClass("active");
        </script>
    </div>